* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image:url("bad1.jpg");
      background-size: cover;
      background-position: center;
  color: #fff;
}

/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 26px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
}

/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background: rgba(10,10,10,0.95);
  backdrop-filter: blur(8px);
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  transition: .4s ease;
  z-index: 999;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu.active {
  right: 0;
}

/* ===== HERO ===== */
.hero {
  padding: 160px 25px 80px;
  max-width: 1200px;
  margin: auto;
}

.hero h1 {
  font-size: 56px;
  font-weight: 800;
}

.hero p {
  font-size: 18px;
  opacity: .8;
  max-width: 600px;
}

/* ===== GEAR ===== */
.gear {
  padding: 0 25px 80px;
  max-width: 1200px;
  margin: auto;
}

.gear-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(69, 65, 114, 0.418);
  border-radius: 18px;
  padding: 25px;
  transition: .3s;
}

.card:hover {
  transform: translateY(-6px);
  background: rgba(255,255,255,0.1);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  opacity: .8;
  line-height: 1.6;
}

.tag {
  display: inline-block;
  margin-top: 15px;
  padding: 6px 14px;
  font-size: 13px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 20px;
  opacity: .8;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .nav-links { display: none; }
  .hamburger { display: flex; }
  .hero h1 { font-size: 40px; }
}
