* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #05050d;
  color: #fff;
}

/* HERO */
.hero {
  padding: 160px 25px 80px;
  max-width: 1000px;
  margin: auto;
}

.hero h1 {
  font-size: 52px;
  font-weight: 800;
}

.hero p {
  font-size: 18px;
  opacity: .75;
  max-width: 600px;
}

/* CONTENT */
.content {
  max-width: 1000px;
  margin: auto;
  padding: 0 25px 100px;
}

.card {
  background: linear-gradient(180deg, #0f172a, #020617);
  border-radius: 18px;
  padding: 28px;
  margin-bottom: 30px;
  box-shadow: #000000 0px 20px 40px;
}

.card h2 {
  margin-bottom: 12px;
}

.card ul {
  padding-left: 18px;
  line-height: 1.8;
  opacity: .85;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.rule-card {
 background: linear-gradient(180deg, #0f172a, #020617);
  border-radius: 18px;
  padding: 24px;
  transition: .3s;
  box-shadow: #000000 0px 15px 30px;
}

.rule-card:hover {
  transform: translateY(-6px);
  background: rgba(17, 204, 218, 0.12);
}

.rule-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.rule-card p {
  font-size: 15px;
  opacity: .8;
  line-height: 1.6;
}

/* WARNING */
.warning {
  border-left: 4px solid #ff6b6b;
}

/* TIP */
.tip {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
  opacity: .9;
}
.vedio-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.7);
}
.video-wrap iframe {
  width: 100%;
  height: 320px;
  border-radius: 16px;
}